.container-fluid
  .row.align-items-center.no-gutter
    .col.wrapper
      .fake-nav
        = link_to image_tag('logo_red.svg'), root_path
        = link_to 'Sign in', new_user_session_url, class: 'btn btn-danger'
      .cta
        %h1 Your movies, your way.
        %p CREATE YOUR PERSONAL ONLINE MOVIE DATABASE
        = link_to 'JOIN FOR FREE TODAY', new_user_registration_url, class: 'btn btn-danger'
