.btn-danger
{
    font-family: 'Open Sans', sans-serif;

    letter-spacing: .125rem;

    border-color: $red;
    background-color: $red;
    &:hover
    {
        border-color: $redHover;
        background-color: $redHover;
    }
    &:focus
    {
        color: $white;
    }
}
