//Colors

$black: #000;
$off-black: #2b2b2b;
$off-white: #f3f3f3;
$red: #e50914;
$red-hover: #f40612;
$white: #fff;

//Devices
$xs-width: 575px;
$sm-width: 767px;
$md-width: 991px;
$lg-width: 1199px;
$xl-width: 1200px;

//Transitions
$fade-transition: .2s ease-in-out;
