!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    :css
      /* FONTS */
      @media screen {
          @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
          }

          @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
          }
      }

      /* CLIENT-SPECIFIC STYLES */
      body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { -ms-interpolation-mode: bicubic; }

      /* RESET STYLES */
      img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
      table { border-collapse: collapse !important; }
      body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }
      p > a {
          color: inherit !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: 700 !important;
          line-height: inherit !important;
      }

      /* iOS BLUE LINKS */
      a[x-apple-data-detectors] {
          color: inherit !important;
          text-decoration: none !important;
          font-size: inherit !important;
          font-family: inherit !important;
          font-weight: inherit !important;
          line-height: inherit !important;
      }

      /* MOBILE STYLES */
      @media screen and (max-width:600px){
          h1 {
              font-size: 32px !important;
              line-height: 32px !important;
          }
      }

      /* ANDROID CENTER FIX */
      div[style*="margin: 16px 0;"] { margin: 0 !important; }
  %body{:style => "background-color: #2b2b2b; margin: 0 !important; padding: 0 !important;"}
    / HIDDEN PREHEADER TEXT
    %div{:style => "display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;"}
      Forgot your password? No problem, you can reset it now.
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      / LOGO
      %tr
        %td{:align => "center", :bgcolor => "#ed2517"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            %tr
              %td{:align => "center", :style => "padding: 40px 10px 40px 10px;", :valign => "top"}
                %a{:href => "https://myflix-rails.herokuapp.com", :target => "_blank"}
                  %img{:alt => "Logo", :border => "0", :height => "60", :src => "http://myflix.stream/imgs/logo_white.png", :style => "display: block; height: 60px; max-height: 60px; min-height: 60px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px;", :height => "60"}/
      / HERO
      %tr
        %td{:align => "center", :bgcolor => "#ed2517", :style => "padding: 0px 10px 0px 10px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            %tr
              %td{:align => "center", :bgcolor => "#f3f3f3", :style => "padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #2b2b2b; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 2px; line-height: 48px;", :valign => "top"}
                %h1{:style => "font-size: 48px; font-weight: 400; margin: 0;"} Hey, #{@resource.first_name}!
      / COPY BLOCK
      %tr
        %td{:align => "center", :bgcolor => "#2b2b2b", :style => "padding: 0px 10px 0px 10px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            / COPY
            %tr
              %td{:align => "left", :bgcolor => "#f3f3f3", :style => "padding: 20px 30px 40px 30px; color: #2b2b2b; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"}
                %p{:style => "margin: 0;"} Don't feel bad, we all forget our passwords from time to time. Just press the button below to reset.
            / BULLETPROOF BUTTON
            %tr
              %td{:align => "left", :bgcolor => "#f3f3f3"}
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:align => "center", :bgcolor => "#f3f3f3", :style => "padding: 20px 30px 60px 30px;"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:align => "center", :bgcolor => "#ed2517", :style => "border-radius: 3px;"}
                            = link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), {style: "font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #f3f3f3; text-decoration: none; color: #f3f3f3; text-decoration: none; padding: 15px 25px; border-radius: 4px; border: 1px solid #ed2517; display: inline-block;", target: '_blank'}
            / COPY
            %tr
              %td{:align => "left", :bgcolor => "#f3f3f3", :style => "padding: 0px 30px 20px 30px; color: #2b2b2b; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"}
                %p{:style => "margin: 0;"} If you didn't request this, no problem, just ignore this email. Your password won't change until you click the link above and create a new one.
            / COPY
            %tr
              %td{:align => "left", :bgcolor => "#f3f3f3", :style => "padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #2b2b2b; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;"}
                %p{:style => "margin: 0;"}
                  Cheers,
                  %br>/
                  The MYFLIX Team
      / FOOTER
      %tr
        %td{:align => "center", :bgcolor => "#2b2b2b", :style => "padding: 0px 10px 0px 10px;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "max-width: 600px;", :width => "100%"}
            / PERMISSION REMINDER
            %tr
              %td{:align => "left", :bgcolor => "#2b2b2b", :style => "padding: 30px 30px 30px 30px; color: #f3f3f3; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;"}
                %p{:style => "margin: 0;"}
                  We sent this email to #{@email}, because someone just requested a password reset link from MYFLIX.
            / UNSUBSCRIBE
            %tr
              %td{:align => "left", :bgcolor => "#2b2b2b", :style => "padding: 0px 30px 30px 30px; color: #f3f3f3; font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;"}
                %p{:style => "margin: 0;"}
                  If these emails get annoying, please feel free to
                  = succeed "." do
                    %a{:href => "https://myflix-rails.herokuapp.com", :style => "color: #f3f3f3; font-weight: 700;", :target => "_blank"} unsubscribe
